<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Mars Rover Api Application</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
</head>

<body>
    <div class="container">
        <h2>Welcome to the Mars rover application!</h2>

        <form method="get" action="" id="formRover">
            <input type="hidden" th:field="${homeDto.roverData}"/>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="margin: 2em 0em">
                <input type="radio" class="btn-check" name="btnradio" id="curiosity" autocomplete="on" />
                <label class="btn btn-outline-primary" for="curiosity">Curiosity</label>

                <input type="radio" class="btn-check" name="btnradio" id="opportunity" autocomplete="on" />
                <label class="btn btn-outline-primary" for="opportunity">Opportunity</label>

                <input type="radio" class="btn-check" name="btnradio" id="spirit" autocomplete="on" />
                <label class="btn btn-outline-primary" for="spirit">Spirit</label>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraFhaz}" th:attr="disabled=${!#lists.contains(validCameras,'FHAZ') ? 'disabled' : 'false'}">
                        <label class="form-check-label" for="cameraFhaz1">
                            Front Hazard Avoidance Camera
                        </label>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraRhaz}" th:attr="disabled=${!#lists.contains(validCameras,'RHAZ') ? 'disabled' : 'false'}">
                        <label class="form-check-label" for="cameraRhaz1">
                            Rear Hazard Avoidance Camera
                        </label>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraMast}" th:attr="disabled=${!#lists.contains(validCameras,'MAST') ? 'disabled' : 'false'}">
                        <label class="form-check-label" for="cameraMast1">
                            Mast Camera
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraChemcam}" th:attr="disabled=${!#lists.contains(validCameras,'CHEMCAM') ? 'disabled' : 'false'}">
                        <label class="form-check-label" for="cameraChemcam1">
                            Chemistry and Camera Complex
                        </label>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraMahli}" th:attr="disabled=${!#lists.contains(validCameras,'MAHLI') ? 'disabled' : 'false'}">
                        <label class="form-check-label" for="cameraMahli1">
                            Mars Hand Lens Imager
                        </label>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraMardi}" th:attr="disabled=${!#lists.contains(validCameras,'MARDI') ? 'disabled' : 'false'}">
                        <label class="form-check-label" for="cameraMardi1">
                            Mars Descent Imager
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraNavcam}" th:attr="disabled=${!#lists.contains(validCameras,'NAVCAM') ? 'disabled' : 'false'}">
                        <label class="form-check-label" for="cameraNavcam1">
                            Navigation Camera
                        </label>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraPancam}" th:attr="disabled=${!#lists.contains(validCameras,'PANCAM') ? 'disabled' : 'false'}">
                        <label class="form-check-label" for="cameraPancam1">
                            Panoramic Camera
                        </label>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraMinites}" th:attr="disabled=${!#lists.contains(validCameras,'MINITES') ? 'disabled' : 'false'}">
                        <label class="form-check-label" for="cameraMinites1">
                            Miniature Thermal Emission Spectrometer (Mini-TES)
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-form-label col-form-label-lg" for="sol">Mars Sol</label>
                <input class="form-control form-control-lg" type="number" th:field="${homeDto.sol}" min="0" value="1"/>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-lg" style="margin:1em 0em">Submit</button>
                </div>
                <div class="col-12">
                    <input type="checkbox" th:field="${homeDto.rememberPreferences}"/>
                    <label for="rememberPreferences1">Remember Preferences</label>
                </div>
            </div>
        </form>
        <div th:each="index : ${#numbers.sequence(0,roverData.photos.size(),4)}" class="row" style="margin-bottom: 2em">
            <div class="col" th:if="${index < roverData.photos.size()}">
                <img th:src="${roverData.photos[index].imgSrc}" class="img-fluid" />
            </div>
            <div class="col" th:if="${index+1 < roverData.photos.size()}">
                <img th:src="${roverData.photos[index+1].imgSrc}" class="img-fluid" />
            </div>
            <div class="col" th:if="${index+2 < roverData.photos.size()}">
                <img th:src="${roverData.photos[index+2].imgSrc}" class="img-fluid" />
            </div>
            <div class="col" th:if="${index+3 < roverData.photos.size()}">
                <img th:src="${roverData.photos[index+3].imgSrc}" class="img-fluid" />
            </div>
        </div>
        <!--    <img th:each="photo : ${roverData.photos}" th:src="${photo.imgSrc}"/>-->
    </div>
    <script type="text/javascript" src="/js/index.js"></script>
</body>

</html>